#
# Copyright (c) [2020] Huawei Technologies Co.,Ltd.All rights reserved.
#
# LiteOS NOVA is licensed under the Mulan PSL v1.
# You can use this software according to the terms and conditions of the Mulan PSL v1.
# You may obtain a copy of Mulan PSL v1 at:
#
#   http://license.coscl.org.cn/MulanPSL
#
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
# FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v1 for more details.
#

menu "OTA"

#OTA_ENABLE ONLY ENABLE THE IMG COMPONENTS, AND  THIS NEEDED BY THE FOTA OR SOTA DOWNLOAD RPOCESS
#OTA_PATCH, SUPPLY THE METHOD DO THE BACKUP UPGRADE RECOVER, THE LOADER NEED THIS

config OTA_ENABLE
    bool  "Enable the Link OTA"
    default y

if OTA_ENABLE
    config OTA_VERSIONLEN
        int  "Version string length"
        default 32
    config OTA_PATCH
        bool "Enable the img patch"
        default n 
    config OTA_IMG_CHECK
        bool "Do the Img RW TEST CHECK"
        default n
        
    config OTA_IMG_CHECKSOTA
        bool "Do the Img SOTA check"
        default n
        depends on OTA_IMG_CHECK
        
    config OTA_IMG_CHECK_BLOCKSIZE
        int  "Check Buffer Size"
        default 1024
        depends on OTA_IMG_CHECK
        
    config OTA_IMG_DEMO
        bool "Img simulated"
        default y   
        
    config OTA_IMG_MEMORY
        bool "Img simulated by memory"
        default n
        depends on OTA_IMG_DEMO
        
    config OTA_IMG_NULL
        bool "Img just PRINT"
        default y
        depends on OTA_IMG_DEMO
            
                          
endif                  
endmenu
