#"3rd part libarary and some library enhancement"
config COMPONENT_LIB
    def_bool n

config COMPONENT_CJSON
    bool "Configuration item for enabling cJSON"
    select COMPONENT_LIB
    default n

config COMPONENT_LIB_ERRNO
    bool "Configuration item for enabling errno interface"
    select COMPONENT_LIB
    default y

config COMPONENT_LIB_MALLOC
    bool "Configuration item for enabling malloc interface"
    select COMPONENT_LIB
    default y

config COMPONENT_LIB_NEWLIB_STUBS
    bool "Configuration item for enabling newlib stubs"
    select COMPONENT_LIB
    default n
    