config AARCH_M_BASELINE
    def_bool n
    select AARCH_M

config FPU
    bool "enable FPU for ARM cortex-m"
    default n
    depends on CORTEX_M4 || CORTEX_M7

config AARCH_M_MAINLINE
    def_bool n
    select AARCH_M
    select AARCH_M_CBNZ_CBZ

config AARCH_M_CBNZ_CBZ
    def_bool n

config MPU
    bool "Configuration item for enabling MPU."
    depends on AARCH_M_MAINLINE || CORTEX_M0_PLUS
    default n

config CORTEX_M0
    def_bool n
    select AARCH_M_BASELINE

config CORTEX_M0_PLUS
    def_bool n
    select AARCH_M_BASELINE

config CORTEX_M3
    def_bool n
    select AARCH_M_MAINLINE

config CORTEX_M4
    def_bool n
    select AARCH_M_MAINLINE

config CORTEX_M7
    def_bool n
    select AARCH_M_MAINLINE

config INTC_NVIC
    bool                    # "ARM cortex-m Nested Vectored Interrupt Controller"

if AARCH_M

config HAS_SYSTICK
    bool "the cpu has systick"
    default y

config TIMER_SYSTICK
    bool "ARM cortex-m systick timer"
    depends on HAS_SYSTICK
    default y

config SYSCALL
    bool "ARM cortex-m syscall support"
    default n

# tools supported by aarch-m

choice
    prompt "Please select the build tool used."
    default GNUC
config GNUC
    bool "GNUC project"
config KEIL
    bool "KEIL project"
endchoice

endif
