menu "kernel configuration"

config SYS_CLOCK
    int "System clock (unit: HZ)"
    default 100000000

config BASE_CORE_TICK_PER_SECOND
    int "Number of Ticks in one second."
    range 10 1000
    default 60

# timer other than systick
config BASE_CORE_TICK_HW_TIME
    def_bool n

config KERNEL_TICKLESS
    bool "Configuration liteos kernel tickless."
    default n

config BASE_CORE_TSK_MIN_STACK_SIZE
    hex "Minimum stack size."
    default 0x100

config BASE_CORE_TSK_LIMIT
    int "Maximum supported number of tasks except the idle task rather than the number of usable tasks"
    default 5

config BASE_CORE_TSK_IDLE_STACK_SIZE
    hex "Size of the idle task stack."
    default 0x200

config BASE_CORE_TSK_DEFAULT_STACK_SIZE
    hex "Default task stack size."
    default 0x300

config BASE_CORE_TSK_DEFAULT_PRIO
    int "Default task priority."
    range 5 30
    default 10

config BASE_CORE_TSK_MONITOR
    bool "Configuration item for task (stack) monitoring module tailoring."
    default n

config BASE_CORE_TIMESLICE
    bool "Configuration item for task Robin tailoring."
    default y

config BASE_CORE_TIMESLICE_TIMEOUT
    int "Longest execution ticks of tasks with the same priorities."
    depends on BASE_CORE_TIMESLICE
    default 10

config BASE_CORE_EXC_TSK_SWITCH
    bool "Configuration item for task perf task filter hook."
    default n

config STACK_POINT_ALIGN_SIZE
    int "stack align size"
    default 8

config BASE_IPC_EVENT
    bool "Configuration item for event module tailoring"
    default y

config BASE_IPC_SEM
    bool "Configuration item for semaphore module tailoring"
    default y

config BASE_IPC_SEM_LIMIT
    int "Maximum supported number of semaphores"
    depends on BASE_IPC_SEM
    default 6

config BASE_IPC_MUX
    bool "Configuration item for mutex module tailoring"
    default y

config BASE_IPC_MUX_LIMIT
    int "Maximum supported number of mutexes"
    depends on BASE_IPC_MUX
    default 6

config BASE_IPC_QUEUE
    bool "Configuration item for queue module tailoring"
    depends on BASE_CORE_SWTMR
    default y

config BASE_IPC_QUEUE_LIMIT
    int "Maximum supported number of queues rather than the number of usable queues"
    depends on BASE_IPC_QUEUE
    default 6

config BASE_IPC_RWLOCK
    bool "Configuration item for read write lock module tailoring"
    default n

config BASE_CORE_SWTMR
    bool "Configuration item for software timer module tailoring"
    default y

config BASE_CORE_SWTMR_LIMIT
    int "Maximum supported number of software timers rather than the number of usable software timers"
    depends on BASE_CORE_SWTMR
    default 5

config BASE_CORE_TSK_SWTMR_STACK_SIZE
    hex "Software timer task stack size"
    depends on BASE_CORE_SWTMR
    default 0x1000

config BASE_CORE_SWTMR_ALIGN
    bool "Configurate item for software timer align tailoring"
    depends on BASE_CORE_SWTMR
    default n

choice HEAP
    prompt "please select heap implementation"
config NEW_HEAP
    bool "enable the new heap implementation"
config OLD_HEAP
    bool "enable the old heap implementation"
endchoice

choice HEAP_ALGORITHM
    prompt "please select heap type"
config MEMORY_BESTFIT
    bool "bestfit, little if old implementation"
config MEMORY_TLSF
    bool "Two-Level Segregated Fit memory allocation"
endchoice

config MEM_STATISTICS
    bool "memory statistics info"
    depends on NEW_HEAP
    default y

config HEAP_MEMORY_PEAK_STATISTICS
    bool "Configuration heap memory peak statistics."
    depends on OLD_HEAP
    default y

config MEM_TASK_USED_STATISTICS
    bool "Configuration module tailoring of the total amount of memory used for tasks"
    default n

config MEM_MUL_POOL
    bool "Configuration module tailoring of more mempry pool checking."
    depends on OLD_HEAP
    default n

config KERNEL_MEM_SLAB
    bool "Configuration module tailoring of slab memory."
    default n

config BASE_MEM_NODE_INTEGRITY_CHECK
    bool "Configuration module tailoring of mem node integrity checking."
    default n

config BASE_MEM_NODE_SIZE_CHECK
    bool "Configuration module tailoring of mem node size checking."
    depends on OLD_HEAP && MEMORY_BESTFIT
    default n

# was OS_SYS_MEM_NUM
config MEM_CHECK_BLOCKS
    int "Number of memory checking blocks."
    default 20
    
config PLATFORM_EXC
    bool "Configuration item for exception tailoring."
    default n
    
config SAVE_EXC_INFO
    bool "Configuration item for saveing exception info tailoring."
    depends on PLATFORM_EXC
    default n
    
config EXC_CALL_STACK_ANALYSIS_MAX_DEPTH
    int "Configuration exception call stack analysis max depth."
    depends on PLATFORM_EXC
    default 16

config EXC_CODE_START_ADDR
    hex "text section start"
    depends on PLATFORM_EXC
    default 0x08000000

config EXC_CODE_SIZE
    hex "text section size"
    depends on PLATFORM_EXC
    default 0x00100000

config EXC_MSP_START_ADDR
    hex "text section start"
    depends on PLATFORM_EXC
    default 0x20000000

config EXC_MSP_SIZE
    hex "text section start"
    depends on PLATFORM_EXC
    default 0x00080000

config KERNEL_RUNSTOP
    bool "Configuration item for runstop module tailoring."
    default n

config BASE_CORE_CPUP
    bool "Configuration item for CPU usage tailoring."
    default n

config COMPAT_CMSIS_FW
    bool "Configuration item for the monitoring of task communication."
    default n

config TEST
    bool "Configuration test case to open."
    default n

config LITEOS_VERSION
    string
    default "Huawei LiteOS Kernel V200R001c50"

config CMSIS_VER
    int "Configuration CMSIS version."
    default 2
    range 1 2

config LIB_LIBC_NEWLIB_REENT
    bool "Configuration item for newlib struct _reent support."
    default n

config ENABLE_VFS
    bool "Configuration item for enabling LiteOS VFS."
    default n

config ENABLE_KIFS
    bool "Configuration item for enabling LiteOS KIFS (kernel info fs)."
    depends on ENABLE_VFS
    default n

config STATIC_TASK
    bool "Configuration item for creating tasks statically."
    default n

config TASK_TLS_LIMIT
    int "Maximum number of task local storage entries."
    default 0

config KERNEL_DEFERED_JOB
    bool "Configuration item for enabling defered job."
    default n

endmenu