menu "components configuration"

config COMPONENT_OSPORT
    bool "Configuration item for enabling malloc interface"
    default n

config COMPONENT_SHELL
    bool "Configuration item for enabling shell"
    select COMPONENT_OSPORT
    default n

config COMPONENT_AT
    bool "Configuration item for enabling AT framework"
    select COMPONENT_OSPORT
    default n

config COMPONENT_VFS
    bool "Configuration item for enabling VFS support"
    select OVERRIDE_MALLOC
    default n

config COMPONENT_DRIVER
    bool "Configuration item for enabling driver framework"
    select COMPONENT_OSPORT
    select COMPONENT_VFS
    default n

rsource "lib/los.config"

endmenu