#
# Copyright (c) [2020] Huawei Technologies Co.,Ltd.All rights reserved.
#
# LiteOS NOVA is licensed under the Mulan PSL v1.
# You can use this software according to the terms and conditions of the Mulan PSL v1.
# You may obtain a copy of Mulan PSL v1 at:
#
#   http://license.coscl.org.cn/MulanPSL
#
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
# FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v1 for more details.
#

menu "LiteOS for STM32F429IGTx_FIRE Project configuration For IoT Link"

comment "This is a demo project and hope you enjoy it"

config ARCH_CPU_TYPE
   string "Select the cpu arch:armv7-m armv6-m riscv32 x86-64"
   default "armv7-m" 
   
choice 
    prompt "Uart2/3 reuse PB11 PA2 WITH ETHERNET MAC"
    config PB11PA2_NONE
        bool  "Not Used"
    config PB11PA2_UARTAT
        bool "Enable PB11PA2 AS UART"
    config PB11PA2_MAC
        bool "Enable PN11PA2 AS MAC" 
endchoice   

if PB11PA2_UARTAT    
    config UARTAT_RCVMAX
        int  "Config the at uart receive buffer size"
        default 2048
    
    config UARTAT_BAUDRATE
        int  "Config the at uart baud rate"
        default 115200
        
    config UARTAT_DEVNAME
        string "Config the at uart device name"
        default "atdev"
endif

config OTA_APP_ENABLE
    bool "Enable the ota app"
    default n
    select OTA_ENABLE
      
    
config OTA_LOADER_ENABLE
    bool "Enable the ota loader"
    default n
    select OTA_ENABLE
    select OTA_PATCH    
          
rsource "../../iot_link/Kconfig"
    
endmenu