config ARCH
    string
    default "aarch_m"  if AARCH_M

config AARCH_M
    def_bool n
    select INTC_NVIC

menu "arch configuration"

rsource "*/los.config"

config PLATFORM_HWI
    bool "Configuration item for hardware interrupt tailoring."
    default y

config PLATFORM_HWI_LIMIT
    int "Maximum number of used hardware interrupts, including Tick timer interrupts."
    default 32

config PLATFORM_HWI_ARG
    bool "if isr have a argument"
    default y

endmenu