#
# Copyright (c) [2020] Huawei Technologies Co.,Ltd.All rights reserved.
#
# LiteOS NOVA is licensed under the Mulan PSL v1.
# You can use this software according to the terms and conditions of the Mulan PSL v1.
# You may obtain a copy of Mulan PSL v1 at:
#
#   http://license.coscl.org.cn/MulanPSL
#
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR
# FIT FOR A PARTICULAR PURPOSE.
# See the Mulan PSL v1 for more details.
#

menu "LiteOS for STM32L431_BearPi Project configuration For IoT Link"

comment "This is a demo project and hope you enjoy it"

config ARCH_CPU_TYPE
   string "Select the cpu arch:armv7-m armv6-m riscv32 x86-64"
   default "armv7-m"
   
config UARTAT_RCVMAX
    int  "Config the at uart receive buffer size"
    default 2048

config UARTAT_BAUDRATE
    int  "Config the at uart baud rate"
    default 9600
    
config UARTAT_DEVNAME
    string "Config the at uart device name"
    default "atdev"
          
rsource "../../iot_link/Kconfig"

choice Demo
	optional
	prompt "User Defined Demo"
	config Demo_None
		bool "none"
	config Demo_Helloworld
		bool "Hello World"
		select SHELL_ENABLE
	config Osal_Task_Demo
		bool "Osal Task"
		select SHELL_ENABLE
	config Osal_Men_Demo
		bool "Osal Mem"
		select SHELL_ENABLE
	config Osal_Semp_Demo
		bool "Osal Semp"
		select SHELL_ENABLE
	config Osal_Mutex_Demo
		bool "Osal Mutex"
		select SHELL_ENABLE
	config Osal_Interrupt_Demo
		bool "Osal_Interrupt"
		select SHELL_ENABLE

endchoice

config USER_DEMO
	string
	default "hello_world_demo" if Demo_Helloworld
	default "osal_task_demo" if Osal_Task_Demo
	default "osal_mem_demo" if Osal_Men_Demo
	default "osal_semp_demo" if Osal_Semp_Demo	
	default "osal_mutex_demo" if Osal_Mutex_Demo
	default "osal_interrupt_demo" if Osal_Interrupt_Demo
	default "none"

        
endmenu