config USER_APP
    bool "USER_APP Enable"
    default y
    
if USER_APP
choice Demo
	optional
	prompt "User Defined Demo"
	config Demo_None
		bool "none"
	config Demo_Helloworld
		bool "Hello World"
		select SHELL_ENABLE
	config Demo_Streetlight
		bool "OC Streetlight"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
	config Demo_Agriculture
		bool "OC Agriculture"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
	config Demo_Track
		bool "OC Track"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
	config Demo_Smoke
		bool "OC Smoke"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
	config Demo_OC_Cloud_Map
		bool "OC Cloud Map"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
    config OCMQTT_APP
        bool "OCMQTT APP"
        select OC_MQTT_V5
        select OC_MQTTV5_PROFILE
        select E53_SC1
        
    config OCLWM2M_APP
        bool "OCLWM2M_APP"
        select OCLWM2M_ENABLE
        select E53_SC1
        
    
    config OCCOAP_APP
        bool "OCCOAP_APP"
        select OCCOAP_ENABLE  
        select E53_SC1
             	
endchoice

if OCLWM2M_APP
    config OCLWM2M_APP_DTLSMODE
        bool "Enable the dtls mode"
        default n
endif

if OCCOAP_APP
    config OCCOAP_APP_DTLSMODE
        bool "Enble the dtls mode"
        default n

endif




endif

config USER_DEMO
	string
	default "hello_world_demo" if Demo_Helloworld
	default "oc_streetlight_template" if Demo_Streetlight
	default "oc_agriculture_template" if Demo_Agriculture
	default "oc_track_template" if Demo_Track
	default "oc_smoke_template" if Demo_Smoke
	default "oc_cloud_map_demo" if Demo_OC_Cloud_Map
	default "none"