LOSCFG_IOTCLUB_EVB_L1=y
LOSCFG_SYS_CLOCK=4000000
LOSCFG_SHELL=y
LOSCFG_FPU=y
LOSCFG_STM32L4XX=y
LOSCFG_PLATFORM_HWI=y
LOSCFG_PLATFORM_HWI_ARG=y
LOSCFG_PLATFORM_HWI_LIMIT=64
LOSCFG_BASE_CORE_TSK_LIMIT=8
LOSCFG_BASE_CORE_TSK_MONITOR=y
LOSCFG_BASE_CORE_EXC_TSK_SWITCH=y
LOSCFG_BASE_IPC_SEM_LIMIT=20
LOSCFG_BASE_IPC_MUX_LIMIT=15
LOSCFG_HEAP_IMPROVED=y
LOSCFG_MEM_STATISTICS=y
LOSCFG_BASE_MEM_NODE_INTEGRITY_CHECK=y
LOSCFG_MEMORY_BESTFIT=y
LOSCFG_COMPONENT_SHELL=y
LOSCFG_COMPONENT_AT=y
LOSCFG_COMPONENT_VFS=y
LOSCFG_COMPONENT_DRIVER=y
# stm32l4xx hal drivers
LOSCFG_STM32L4XX_ADC=y
LOSCFG_STM32L4XX_ADC_EX=y
LOSCFG_STM32L4XX_CORTEX=y
LOSCFG_STM32L4XX_DAC=y
LOSCFG_STM32L4XX_DAC_EX=y
LOSCFG_STM32L4XX_DMA=y
LOSCFG_STM32L4XX_DMA_EX=y
LOSCFG_STM32L4XX_FLASH=y
LOSCFG_STM32L4XX_FLASH_EX=y
LOSCFG_STM32L4XX_GPIO=y
LOSCFG_STM32L4XX_I2C=y
LOSCFG_STM32L4XX_I2C_EX=y
LOSCFG_STM32L4XX_PWR=y
LOSCFG_STM32L4XX_PWR_EX=y
LOSCFG_STM32L4XX_RCC=y
LOSCFG_STM32L4XX_RCC_EX=y
LOSCFG_STM32L4XX_SPI=y
LOSCFG_STM32L4XX_SPI_EX=y
LOSCFG_STM32L4XX_UART=y
LOSCFG_STM32L4XX_UART_EX=y
LOSCFG_STM32L4XX_USART=y
LOSCFG_STM32L4XX_USART_EX=y